  <ons-toolbar>
    <div class="left"><ons-back-button>Back</ons-back-button></div>
    <div class="center">TimeTrip</div>
  </ons-toolbar>

  <div class="content">
    <ons-list>
      <!-- 検索エリア -->
      <ons-list-item style="width: 100%;">
        <ons-button class="btn" (click)="goToMenu(navi)">
          <i class="material-icons">home</i>
        </ons-button>
        <ons-select class="addressSelect" [(ngModel)]="locationId" (change)="changeAddress($event)">
          <option *ngFor="let addressItem of addressListDB" [value]="addressItem.LocationID">
            {{ addressItem.Address }}
          </option>
        </ons-select>
      </ons-list-item>

      <!-- 写真エリア -->
      <ons-list-item style="width: 100%;">
        <ons-carousel #carousel 
        　swipeable auto-scroll
          id="carousel"
          (postchange)="toPostChane($event)">
          <ons-carousel-item *ngFor="let item of infoList;let i = index" (click)="openModal(i)">
            <img class="carousel_photo" [src]="item.Bin" alt="" (error)="isImgErrList[i] = true">
            <div *ngIf="isImgErrList[i]" class="carousel_erricon"><i class="material-icons">cancel</i></div>
          </ons-carousel-item>
        </ons-carousel>
      </ons-list-item>

      <!-- 情報エリア -->
      <ons-list-item>
        <div align="center" style="width: 100%;">
          <div class="item title">{{info.Year}} 年</div>
          <div class="item title">{{info.Title}}</div>
          <div class="item" style="margin-top: 50px;">{{info.Comment}}</div>
          <div class="item">
            <ons-button (click)="goToUpload()" class="btn"><i class="material-icons">edit</i></ons-button>
          </div>
        </div>
      </ons-list-item>
    </ons-list>
  </div>

<!-- 画像拡大モーダル -->
<ons-modal #modal (click)="modal.hide()">
  <div class="photoModal">
    <img class="carousel_photo" [src]="info.Bin">
  </div>
</ons-modal>