<ons-toolbar>
　 <div class="left"><ons-back-button>Back</ons-back-button></div>
  <div class="center">Registrations</div>
</ons-toolbar>
<div class="content">
  <ons-list>
    <!-- <ons-list-item  *ngFor="let Registration of RegistrationLists" [value]="Registration.Title">
      <div>
          <img [src]="Registration.Bin" alt="Registration.Title" style="max-width: 90%;">
      </div>
      <div>
          <span>{{ Registration.Title }}</span>
      </div>
      <div>
          <span>{{ Registration.Comment }}</span>
      </div>
    </ons-list-item> -->
    <!-- <ons-list-header>Thumbnails and titles</ons-list-header> -->
    <ons-list-item modifier="chevron" tappable *ngFor="let Registration of RegistrationLists" [value]="Registration.Title">
      <div class="left">
          <img [src]="Registration.Bin" alt="Registration.Title">
      </div>
      <div class="center">
        <span class="list-item__title">{{ Registration.Title }}</span><span class="list-item__subtitle">{{ Registration.Comment }}</span>
      </div>
    </ons-list-item>
  </ons-list>
</div>